<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault" >
        <meta-data android:name="tv_box_plugin_key" android:value="com.muedsa.tvbox" />
        <meta-data android:name="tv_box_plugin_api_version" android:value="7" />
        <meta-data android:name="tv_box_plugin_entry_point_impl" android:value="com.muedsa.tvbox.qifun.QiFunPlugin"/>
    </application>

</manifest>